{{ define "admin"}}

    {{ template "header" . }}

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">{{ .Locale.System }}</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">{{ .Locale.SignOut }}</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link lnk" href="/admin">
                                Домой
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lnk" href="javascript:loadThing('/tests');">
                                Тесты
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lnk" href="javascript:loadThing('/users');">
                                Пользователи
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lnk" href="javascript:loadThing('/settings');">
                                Настройки системы
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="mainPanel" class="col-md-9 ml-sm-auto col-lg-10 px-4">



            </div>
        </div>
    </div>

    {{ template "footer" . }}

{{ end }}